.main-layout {
    display: grid;
    grid-template-columns: 18rem auto;
    height: 100vh;
    overflow: hidden;
}

.page-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-content {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.page-content::-webkit-scrollbar {
    width: 0.8rem;
    border-radius: 0;
}

.page-content::-webkit-scrollbar-track {
    background-color: #e0e0e0;
}

.page-content::-webkit-scrollbar-thumb {
    background-color: #203850;
}

.page-content::-webkit-scrollbar-thumb:hover {
    background-color: #2c3e50;
}