.label {
    color: #ECF0F1;
    font-weight: lighter;
}

.input {
    width: 100%;
    height: 2rem;
    padding: 1rem 0.3rem;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    box-sizing: border-box;
}