.label {
    color: #ECF0F1;
    font-weight: lighter;
}

.input,
.select {
    width: 100%;
    height: 2rem;
    padding: 0.1rem;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    box-sizing: border-box;
}

.input {
    padding: 1rem 0.3rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}