.div-table {
    overflow-y: auto;
    width: 70vw;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25);
    border-radius: 10px 0px 0px 10px;
    height: 100vh;
    animation: fade-in-table 0.2s linear;
}

@keyframes fade-in-table {
    from {
        transform: translateY(1rem);
    }

    to {
        transform: translateY(0);
    }
}

.div-table::-webkit-scrollbar {
    width: 12px;
    border-radius: 0;
}

.div-table::-webkit-scrollbar-track {
    background-color: #1d2d3c;
}

.div-table::-webkit-scrollbar-thumb {
    background-color: #0e4a6c;
}

.div-table::-webkit-scrollbar-thumb:hover {
    background-color: #255673;
}

.table {
    width: 100%;
    height: 100%;
    background-color: #2C3E50;
    overflow-x: auto;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 5px;
    font-size: 16px;
    color: white;
    text-align: center;
    border: 1px solid #7F8C8D;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.table th {
    background-color: #316583;
}

.table td:first-child {
    background-color: #234458;
    font-weight: bold;
    padding: 20px;
    width: 1%;
}

.table tr:nth-child(even) {
    background-color: #112e4b;
}

.table td button {
    font-size: 1rem;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
}

.table button:hover {
    opacity: 0.8;
}

.expense-table th:nth-child(2),
.expense-table th:nth-child(3),
.expense-table th:nth-child(5),
.category-table th:nth-child(2),
.category-table th:nth-child(3) {
    cursor: pointer;
}

.expense-table td:nth-child(3),
.expense-table td:nth-child(4),
.category-table td:nth-child(2) {
    max-width: 10rem;
    width: max-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.expense-table td:nth-child(3).expanded,
.expense-table td:nth-child(4).expanded,
.category-table td:nth-child(2).expanded {
    white-space: normal;
}

.category-table td:not(:first-child) {
    max-width: 5rem;
    width: 5rem;
}

.btn-edit {
    background-color: #F39C12;
    margin-right: 5px;
}

.btn-delete {
    background-color: #E74C3C;
}