.auth-layout {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    justify-items: center;
    align-items: center;
}

.title {
    font-size: 3.5rem;
    color: #2C3E50;
    align-self: end;
    margin-bottom: 2rem;
}