.vertical-navbar {
    background-color: #2c3e50;
    height: 100vh;
    color: #ECF0F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.vertical-navbar .title {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    max-width: 200px;
}

.vertical-navbar .div-buttons {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.vertical-navbar button {
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    width: 200px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    background-color: #1993da;
    color: #ECF0F1;
}

.vertical-navbar button:hover {
    background-color: #2980B9;
    opacity: 0.8;
}

.vertical-navbar .logout-button {
    background-color: #E74C3C;
    color: white;
    margin-bottom: 20px;
}

.vertical-navbar .logout-button:hover {
    background-color: #C0392B;
}