body {
  background-image: repeating-linear-gradient(45deg,
      #e0e0e0,
      #e0e0e0 5px,
      transparent 10px);
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100vh;
}