.password-container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    position: relative;
    width: 100%;
}

.password-icon {
    display: flex;
    position: absolute;
    right: 0.8rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: grey;
    margin-bottom: 0.7rem;
}