.password-container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    position: relative;
    width: 100%;
}

.password-icon {
    display: flex;
    position: absolute;
    right: 0.8rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: grey;
    margin-bottom: 0.7rem;
}

.label-password {
    color: white;
    display: flex;
    justify-content: space-between;
}

.label-password button,
p {
    margin: 0px;
    padding: 0px;
}

.label-password button {
    background-color: transparent;
    color: #2ECC71;
    font-size: 0.95rem;
    width: max-content;
    cursor: pointer;
}